html {
	--mainBg: #212529;
	--boxShadowDark: #111315;
	--boxShadowLight: #31373d;
	--bgOutpressed: #212529;
	--bgPressed: linear-gradient(145deg, #1e2125, #23282c);

	--akcentLight: #109EF1;
	--yellowLight: rgb(253, 255, 122);
	--mainGrey: #74797D;
	--red1: rgb(218, 77, 77);

	--knobOuter: 200px;
	--knobInner: 170px;

	color: var(--mainGrey);
	width: 100%;
	height: 100%;
	background-color: var(--mainBg);
}
@media screen and (max-width: 320px) {
	html {
		--knobOuter: 150px; 
		--knobInner: 130px;
	}
}
html[data-theme="light"] {
	--mainBg: #ECF0F3;

	--boxShadowDark: #c9cccf;
	--boxShadowLight: #ffffff;

	--bgOutpressed: #ECF0F3;
	--bgPressed: linear-gradient(145deg, #d4d8db, #fdffff);
}
body,
body *,
body *:before,
body *:after {
	transition: background-color .1s linear, 
				color .1s linear,
				box-shadow .1s linear
}
html[data-theme="light"] body {
	background-color: grey
}
/*animation*/
.fade-enter-active, .fade-leave-active {
	transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}
/*service*/
.pointer{
	cursor: pointer;
}
.blockSelect {
	text-decoration: none;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.remove-scroll-bar::-webkit-scrollbar {
	width: 0px;
}
.remove-scroll-bar::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 5em;
}
/**/
.neuro-outpressed{
	background: var(--bgOutpressed);
	box-shadow:  5px 5px 8px var(--boxShadowDark), -2px -5px 10px var(--boxShadowLight);
}
.neuroPressed{
	background: var(--bgPressed);
	box-shadow: inset 0px 15px 20px var(--boxShadowDark), inset 0px -5px 30px var(--boxShadowLight), 5px 5px 10px var(--boxShadowDark), -5px -5px 10px var(--boxShadowLight);
}
.neuroPressed label {
	color: var(--akcentLight)!important;
	text-shadow: 0px 0px 25px var(--akcentLight)
}
.neuroInput {
	background: var(--bg1);
	box-shadow: inset 23px 23px 46px var(--boxShadowDark), inset -23px -23px 46px var(--boxShadowLight);
	-webkit-appearance: none;
}
html[data-theme="light"] .neuroPressed label {
	text-shadow: none
}
.textGlow{
	text-shadow: 0px 0px 25px var(--akcentLight)
}
.boxGlow{
	box-shadow: 0px 0px 40px var(--akcentLight)!important;
}
/*beatGlow*/
.sfbGlow{
	background-color: var(--yellowLight)!important;
	box-shadow: 0px 0px 40px var(--yellowLight)!important;
}
.beatGlow{
	background-color: var(--akcentLight)!important;
	box-shadow: 0px 0px 40px var(--akcentLight)!important;
}
html[data-theme="light"] .sfbGlow {
	background-color: var(--yellowLight)!important;
	box-shadow: none!important;
}
html[data-theme="light"] .beatGlow {
	background-color: var(--akcentLight)!important;
	box-shadow: none!important;
}

html[data-theme="light"] .textGlow {
	text-shadow: none;
}
.main-btn {
	width: 	6rem;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 10px;
	color: var(--mainGrey);
}
.btn {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	letter-spacing: .5rem;
	font-weight: 800;
	text-transform: uppercase;
	padding: 2rem 0rem;
}
.modal-btn {
	background-color: transparent;
	color: var(--akcentLight);
	font-size: 2rem;
	font-weight: 800;
	width: 100px;
	height: 50px;
	border: solid 2px var(--akcentLight);
	border-radius: 10px;
}
/*knob*/
path{
	stroke: transparent!important
}
.rs-safari, .rs-control, .rs-svg-mode, .rs-animation{
	width: var(--knobInner)!important;
	height: var(--knobInner)!important;
}
.rs-container, .rs-full{
	width: var(--knobInner)!important;
	height: var(--knobInner)!important;
}
.rs-handle {
	width: 35px!important;
	height: 35px!important;
	background: var(--mainDark)!important;
	box-shadow: inset 0px 15px 20px var(--boxShadowDark), inset 0px -15px 30px var(--boxShadowLight)!important;
	margin: -10px 7px 0px!important;
}
.rs-handle.rs-move {
	cursor: default!important;
}
.rs-tooltip, .rs-tooltip-text, .rs-edit {
	display: none!important;
}
.rs-animation .rs-transition {
	transition: all 1s linear 0s!important
}

