.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  h2 {
    position: absolute;
    top: 5rem;
    right: 3.5rem;
    text-align: right;
    width: 100%;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }
  form {
    width: 100%;
  }
  #email,
  #password {
    width: 100%;
    position: relative;
    margin: 2rem 0rem;
  }
  label {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    letter-spacing: 0.3rem;
  }
  input {
    width: 100%;
    margin: 1rem 0rem;
    height: 4rem;
    border-radius: 10px;
    text-indent: 2rem;
    color: $akcentLight;
    font-size: 1.8rem;
    background-color: var(--mainBg);
  }
  &.invalid {
    border-bottom: solid 2px var(--red1);
  }
  small {
    position: absolute;
    font-size: 1.2rem;
    color: var(--red1);
    bottom: -10px;
    right: 0px;
    letter-spacing: 0.4rem;
  }
  #authorize {
    width: 100%;
    padding: 1rem 0rem;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  button {
    text-align: center;
    width: 40%;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  &:disabled {
    opacity: 0.5;
  }
  #registration {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
