.menu {
  position: fixed;
  top: 0%;
  transform: translateX(100vw);
  height: 100%;
  background-color: var(--mainBg);
  transition: 0.2s ease-in-out transform;
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__element {
    margin: 1rem 0rem;
    text-transform: uppercase;
    .user-name {
      margin-bottom: 4rem;
      color: $akcentLight;
    }
    a:hover {
      color: $akcentLight;
      @include text-glow;
      transition: 0.4s;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__log-out {
    margin-bottom: 2rem;
    span {
      margin-right: 1rem;
    }
  }
  &__user-picture {
    font-size: 8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  &__app-version {
    font-size: 1.5rem;
    font-weight: 800;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  &__theme-switcher {
    margin-top: 2rem;
  }
}
@each $width, $blockWidth in $menuWidthBreakpoints {
  @media screen and (max-width: $width) {
    .menu {
      width: $blockWidth;
    }
    .menu--active {
      transform: translateX(calc(100vw - #{$blockWidth}));
    }
  }
}
