.beats-indicator {
  height: 5%;
  flex-shrink: 0;
  &__content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  &__item {
    background-color: $textGrey;
    width: 100%;
    height: 100%;
    margin: 0rem 0.2rem;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;
    &--glow {
      background-color: $akcentLight !important;
      box-shadow: 0px 0px 40px $akcentLight !important;
    }
    &--stress-beat-glow {
      background-color: $akcentLight !important;
      box-shadow: 0px 0px 40px $akcentLight !important;
    }
  }
}
