.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 3rem;
  @include MW500 {
    padding: 1.5rem 0rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  }
  &__title {
    h2 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 800;
    }
  }
}
