.heading-text-1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4rem;
  @media screen and (max-width: 576px) {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
  }
}
.heading-text-2 {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.heading-text-3 {
  font-size: 1rem;
}
