.icon {
  font-size: 4rem;
  width: 4rem;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &--akcent-light {
    color: $akcentLight;
  }
  &--small {
    font-size: 3rem;
    width: 3rem;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
