.info-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  height: 5%;
  &__save-update {
    margin: 1rem 0rem;
    width: 30%;
  }
  &__song-title {
    color: $akcentLight;
    margin-bottom: 0;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 1rem;
    max-width: 70%;
    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
    h2 {
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__offline {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5rem;
    color: $akcentLight;
    text-transform: uppercase;
    .text {
      letter-spacing: 0.2rem;
    }
  }
}
