.button-type1 {
  width: 100%;
  border: solid 2px $textGrey;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.2s ease-in-out;
  font-weight: 800;
  button {
    text-transform: uppercase;
  }
  @media screen and (max-width: 320px) {
    padding: 0.7rem;
  }
  &:hover {
    cursor: pointer;
    color: $akcentLight;
    border-color: $akcentLight;
  }
}
