.rotate-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: $zIndexAverage;
  display: none;
  background-color: var(--mainBg);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &__title {
    position: absolute;
    color: white;
    background-color: black;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    top: 0%;
    right: 0%;
    text-align: center;
    opacity: 0.4;
  }
  &__items {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &__item {
    width: 100%;
    height: 100%;
    background-color: $akcentLight;
    border: solid black 1px;
  }
}
