html,
body {
  background-color: var(--mainBg);
  overflow: hidden;
}
body {
  // transition: background-color 0.1s linear, color 0.1s linear,
  //   box-shadow 0.1s linear;

  // * {
  //   transition: background-color 0.1s linear, color 0.1s linear,
  //     box-shadow 0.1s linear;

  //   &:before,
  //   &:after {
  //     transition: background-color 0.1s linear, color 0.1s linear,
  //       box-shadow 0.1s linear;
  //   }
  // }
}
.app {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: $textGrey;
  background-color: var(--mainBg);
  overflow: hidden;
}
.remove-scroll-bar {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5em;
  }
}
/*vue animation fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
//
.covered {
  filter: blur(5px);
  &:after {
    content: "";
    display: block;
    position: absolute;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.5);
  }
  &:hover {
    cursor: pointer;
  }
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.jcc {
  justify-content: center;
}
.jce {
  justify-content: flex-end;
}
div[class$="text-1--right"] {
  text-align: right;
}
div[class$="text-2--right"] {
  text-align: right;
}
div[class$="text-1--akcent"] {
  color: $akcentLight;
}
div[class$="text-2--akcent"] {
  color: $akcentLight;
}
