/* stylelint-disable */
@font-face {
  font-family: "icomoon";
  src: url("~@/assets/fonts/icomoon.eot");
  src: url("~@/assets/fonts/icomoon.eot") format("embedded-opentype"),
    url("~@/assets/fonts/icomoon.ttf") format("truetype"),
    url("~@/assets/fonts/icomoon.woff") format("woff"),
    url("~@/assets/fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}
.icon-right2:before {
  content: "\e903";
}
.icon-left2:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e945";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-volume:before {
  content: "\ea26";
}
.icon-arrowLeft:before {
  content: "\ea40";
}
.icon-google:before {
  content: "\ea89";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
