.metronome {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  position: fixed;
  transition: 0.2s ease-in-out transform, 0.3s ease-in-out filter;
  &--beats-menu-active {
    // transform: translateX($beatsMenuWidth);
  }
  &--menu-active {
    // transform: translateX(-$mainMenuWidth);
  }
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    @include MW500 {
      width: 90%;
      box-shadow: none;
      max-height: none;
    }
  }
}
@each $width, $blockWidth in $menuWidthBreakpoints {
  @media screen and (max-width: $width) {
    .metronome--beats-menu-active {
      transform: translateX($blockWidth);
    }
    .metronome--menu-active {
      transform: translateX(-$blockWidth);
    }
  }
}
