.bpm-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2.5rem;
  &__info {
    margin-bottom: 0.7rem;
    white-space: nowrap;
    @include MW500 {
      font-size: 2rem;
    }
    &:hover {
      color: $akcentLight;
      cursor: pointer;
    }
  }
  &__arrow {
    padding: 1rem;
    &:hover {
      cursor: pointer;
      color: $akcentLight;
    }
    &:first-child {
      margin-right: 2.5rem;
    }
    &:last-child {
      margin-left: 2.5rem;
    }
  }
}
