.volume {
  $self: &;
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    position: relative;
  }
  &__value {
    position: absolute;
    top: 140%;
    white-space: nowrap;
    @include MW576 {
      display: none;
    }
  }
  label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  input {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    background-color: $textGrey;
    border-radius: 0%;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 35px;
      width: 20px;
      border: none;
      background-color: $textGrey;
      transition: 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: $akcentLight;
        @include box-glow;
      }
    }
  }
}
